/* Import fonts */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300;400;500;600;700&display=swap");

/* Setup theme variables */
:root {
  /* font */
  --font-title: "Quicksand", sans-serif;
  --font-content: "Quicksand", sans-serif;
  /* --font-content: 'Montserrat', sans-serif; */
  --font-size: 1.5em;

  /* colors */
  --color-primary: #00a3ff;
  --color-secondary: #00ffc2;
  --color-ternary: #ff9900;
  --color-muted: #a0a0a0;
  --color-light: #f1f1f1;
  --color-dark: #252525;
  --color-white: #ffffff;
  --color-black: #000000;
}

body {
  font-family: var(--font-content);
  font-size: var(--font-size);

  color: var(--color-white);
  background-color: var(--color-dark);
}

a {
  color: var(--color-muted);
}

a:hover {
  color: var(--color-primary);
}

.intro {
  font-family: var(--font-title);
  text-align: center;
  font-size: 2em;
}

.summary {
  text-align: center;
  font-size: 1em;
  margin-bottom: 2em;
}

main {
  margin: 0 auto;
  max-width: 1024;
  padding: 0 1.25rem 1.5rem;
}

footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.social-media-link {
  margin: 16px;
  color: var(--color-muted);
}

.social-media-link:hover {
  color: var(--color-primary);
}

.btn-contact-container {
  text-align: center;
}

.btn-contact {
  border: 2px solid var(--color-muted);
  color: var(--color-muted);
  padding: 16px;
  border-radius: 8px;
  text-decoration: none;
}

.btn-contact:hover {
  border: 2px solid var(--color-primary);
  color: var(--color-primary);
}

.btn-contact:hover {
  border: 2px solid var(--color-primary);
  /* background: var(--color-primary); */
  padding: 16px;
  border-radius: 8px;
}

.copyright {
  font-size: small;
  margin: 8px;
}

.logo {
  display: flex;
  justify-content: center;
}
